<!-- app.component.html -->
<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/" routerLinkActive="active">JIRA Clone</a>
  </div>

  <ul class="navbar-links">
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Connect</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
